<h2>New Celebrity</h2>

<form action="/celebrities" method="POST">
    <%- include('_form_fields') %> 
    <a href="/celebrities">Cancel</a>
    <button type="submit" name="submitvalue" value="Create">Create</button>
    <button type="submit" name="submitvalue" value="CreateAndNew">Create & New</button>
</form>
