<header>
    <nav>
        <a href="/">Older Than This Celebrity Config</a>
        <ul>
            <li><a href="/celebrities">All Celebrities</a></li>
            <li><a href="/celebrities/new">New Celebrity</a></li>
        </ul>
    </nav>
</header>