<h2>New Event</h2>

<form action="/significantevents" method="POST">
    <%- include('_form_fields') %> 
    <a href="/significantevents">Cancel</a>
    <button type="submit" name="submitvalue" value="Create">Create</button>
    <button type="submit" name="submitvalue" value="CreateAndNew">Create & New</button>
</form>
